@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

@import url(../css/header.css);
@import url(../css/hero.css);
@import url(../css/historia.css);
@import url(../css/oficina.css);
@import url(../css/apresentacao.css);
@import url(../css/contribuicao.css);
@import url(../css/idealizadores.css);
@import url(../css/parceiros.css);
@import url(../css/footer.css);
@import url(../css/responsive.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root{
    --cor-de-fundo: #EBECEE;
    --cor-de-nav: rgba(0, 0, 0, 0.8);
    --cor-de-fundo-topo: rgba(0, 0, 0, 0.3);
    --cor-hover-nav: rgba(255,255,255, 0.15);
    --cor-titulo-topo: #93ff00;
    --cor-destaque-verde: #aaff00;
    --cor-destaque-rosa: #ff00aa;
    --cor-destaque-laranja: #ffaa00;
    --cor-destaque-azul: #00aaff;
    --cor-destaque-roxo: #aa00ff;
    --cor-de-footer: #1b1c26;
    --font-titulo: "Roboto";
    --font-texto: "Open Sans";
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

html, body{
    height: 100vh;
    font-family: "Roboto";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: var(--cor-de-fundo);
    font-size: 1.6rem;
}

.container{
    max-width: 1024px;
    width: 90%;
}